body {
  font-family: "Helvetica", sans-serif;
  font-size: 14pt;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

#clock {
  text-align: center;
}

#clockface {
  margin-top: 0.5in;
  padding: 0.25in;
}

#clockface td {
  text-align: center;
}

.inv {
  color: black;
}

#buttons {
  color: white;
  margin-top: 1in;
}

#settings {
  display: none;
  background-color: #9a9a9a;
  color: black;
  padding-bottom: 0.25in;
  margin-bottom: 0px;
  font-size: medium;
}

#settings input {
  font-family: Courier, monospace;
}

#settings table {
  color: black;
}

#settings h2 {
  font-size: 14pt;
}

#fail {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20%;
}

#fail h1 {
  color: red;
  text-align: center;
 }