body {
    font-family: "Helvetica", sans-serif;
    font-size: 14pt;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#clock {
    text-align: center;
}

#clockface {
    margin-top: 0.5in;
    padding: 0.25in;
}

#clockface td {
    text-align: center;
}

.inv {
    color: black;
}

#buttons {
    color: white;
    margin-top: 1in;
}

#settings {
    display: none;
    background-color: #9a9a9a;
    color: black;
    font-size: medium;
    padding: 0;
    margin: 0;
    min-height: 100%;
    position: relative;
}

#settings .header {
    padding-top: 1rem;
}

#settings .body {
    padding-bottom: 60px;
    margin-right: 1rem;
}

#settings .footer {
    position: absolute;
    bottom: 0;
    height: 60px;
}

#settings input.hex {
    font-family: Courier, monospace;
}

#settings div {
    margin-left: 1rem;
}

#settings table {
    color: black;
}

#settings h1 {
    margin-top: 0;
}

#settings h2 {
    margin-top: 0;
    font-size: 14pt;
}

#fail {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
}

#fail h1 {
    color: red;
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 0;
}

.close {
    display: none;
}

@media screen and (max-width: 321px) {
    .mwide {
        display: none;
    }
}

@media screen and (max-width: 501px) {
    .rwide {
        display: none;
    }
}
